.both {
	clear: both ;
}
.nod {
	display: none !important ;
}
.overlay {
	margin: 20px ;
}
.main-form {
	width: 400px ;
	background-color: #fafafa ;
	border: 1px #f0f0f0 solid ;
	margin: 0 auto ;
}
.main-form label {
	cursor: pointer ;
	color: #000000 ;
	display: block ;
	padding: 2px ;
}
.main-form label input {
	float: right ;
	width: 300px ;
	margin: 0 5px ;
}
.main-form span {
	display: block ;
	float: left ;
	margin: 0 5px ;
}
.main-form span:after {
	content: ":" ;
}
.main-form h1 {
	font-size: 20px;
	text-align: center;
}
.main-form label.main-form-submit input {
	width: auto ;
}
.main-form label.main-form-submit span {
	float: right ;
}
.main-form label.main-form-submit span:after {
	content: "" ;
}
.main-form-lang {
	float: right ;
}
.msg-title {
	text-align: center ;
}
.msg-message {
	color: red ;
}
.msg span {
	display: none ;
}